.DS_Store*
node_modules
/public
/vendor
.idea
bootstrap/compiled.php
/app/config/local/
tmp/*
[Cc]onfig/core.php
[Cc]onfig/database.php
app/tmp/*
app/[Cc]onfig/core.php
app/[Cc]onfig/database.php
!empty

