/.idea/misc.xml
/vendor
/node_modules
Homestead.yaml
Homestead.json
laravel/.idea
laravel/.idea/*
/.idea/*
/.idea
laravel/.idea/workspace.xml
/**/.idea/workspace.xml
.env
.DS_Store
/config/database.php
config/database.php
.tags
tmp/*
[Cc]onfig/core.php
[Cc]onfig/database.php
app/tmp/*
app/[Cc]onfig/core.php
app/[Cc]onfig/database.php
!empty

