body {
    
    background-image: url("/img/bg.png");
        
    color:#fff;
    

}

 #example_wrapper{
 	color:#000;
 }
 
 thead{
 	color:#fff;
 }
  tfoot{
 	color:#fff;
 }

 .dataTable{
 	color:#000;
 }

 input{
 	color:#00bb00;
 }
 label{
 	color:#00bb00;
 }

 table{
 	background: #008720;
 }
 a{
 	color:#f00;
 }