body {
    /*
    background-image: url("/img/bg.png");
    */
    background: #555;    
    color:#fff;
    

}

 #example_wrapper{
 	color:#000;
 }
 
 thead{
 	color:#fff;
 }
  tfoot{
 	color:#fff;
 }

 .dataTable{
 	color:#000;
 }

 input{
 	color:#00bb00;
 }
 label{
 	color:#00bb00;
 }

 table{
 	background: #008720;
 }
 a{
 	color:#f00;
 }

 .btn-disabled{
 	background: #D7DFE0;
 	color:#A3A7A8;
 }

select{
 color:#f00;
}

.upload_user_image{
	cursor: pointer;
	width:50px;
	height:50px;
}

.approve_bar{
	cursor: pointer;
}

#upload_div{
	position: absolute;
	left:30%;
	top:30%;
	width:200px;
	height:150px;
	border: 1px solid #000;
	background: #fff;

}

.activebar{
	background: #EDF5BF !important;

}

.barlogo{
	width:200px;
	height:150px;
	border:1px;
}
.barlogo_small{
	width:50px;
	height:40px;
	border:1px;
}