@import 'bourbon/bourbon';
@import 'bootstrap';
@import 'dataTables.bootstrap';
@import 'bootstrap-datetimepicker';

.main-header {
  margin-bottom: 0;
}

.main-content {
  margin: 20px 0;
}

.page-header {
  margin-top: 0;
}

.table-controls {
  margin-bottom: 20px;
}

.edit-actions {
  .glyphicon {
    font-size: 1.5em;
  }
}

.edit-bar {
  .nav-pills {
    margin-bottom: 20px;
  }
}

.action-approve-bar.bar-active {
  color: #5cb85c;
}

.action-reject-bar.bar-inactive {
  color: #d9534f;
}