@import 'bourbon/bourbon';
@import 'bootstrap';
@import 'dataTables.bootstrap';
@import 'bootstrap-datetimepicker';

img {
  max-width: 100%;
}

.main-header {
  margin-bottom: 0;
}

.main-content {
  margin: 20px 0;
}

.page-header {
  margin-top: 0;
  &.tabbed-header {
    border-bottom: none;
  }
}

.table-controls {
  margin-bottom: 20px;
}

#edit-bar-actions,
#edit-event-actions,
#edit-game-actions {
  .glyphicon {
    font-size: 1.5em;
  }
}

.edit-bar {
  .nav-pills {
    margin-bottom: 20px;
  }
}

.action-approve-bar.bar-active {
  color: #5cb85c;
}

.action-reject-bar.bar-inactive {
  color: #d9534f;
}

.edit-actions {
  white-space: nowrap;

  &.approved .action-approve-bar {
    color: #5cb85c;
  }
  &.rejected .action-reject-bar {
    color: #d9534f;
  }
}

.bar-logo {
  margin-bottom: 10px;
  max-height: 300px;
  max-width: 300px;
}

.character-count {
  font-size: 85%;
  text-align: right;
}
